<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 200px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
    <!-- Header container -->
  </div>
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Formulaire d'ajout</h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form>
              <h6 class="heading-small text-muted mb-4">information</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-username">Identifiant *</label>
                      <input type="text" id="input-username" class="form-control form-control-alternative" >
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email"> Adresse e-mail * </label>
                      <input type="email" id="input-email" class="form-control form-control-alternative" >
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-first-name">Nom *</label>
                      <input type="text" id="input-first-name" class="form-control form-control-alternative" >
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-last-name">Prenom *</label>
                      <input type="text" id="input-last-name" class="form-control form-control-alternative" >
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4" />
              <!-- Address -->
              <h6 class="heading-small text-muted mb-4">autre</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <mat-form-field>
                        <mat-label>Role *</mat-label>
                        <mat-select  >
                            <mat-option  value="chef de projet">Chef de projet</mat-option>
                            <mat-option  value="responsable">Responsable</mat-option>
                            <mat-option  value="developpeur">Développeur</mat-option>
                            <mat-option  value="superadmin">SuperAdmin</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <mat-form-field>
                          <mat-label>Technologies *</mat-label>
                          <mat-select  >
                              <mat-option *ngFor="let c of tech | keyvalue" [value]="c.value">{{c.value}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-city">Mot de passe * </label>
                      <input type="password" id="input-city" class="form-control form-control-alternative" >
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-country">Confirmer mot de passe * </label>
                      <input type="password" id="input-country" class="form-control form-control-alternative">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 style="color: red;" class="mb-0">(*) Champ obligatoire</h3>
                </div>
                <div class="col-4 text-right">
                    <button class="btn btn-icon btn-3 btn-primary" type="button">
                        <span class="btn-inner--icon"><i class="ni ni-check-bold"></i></span>
                        <span class="btn-inner--text">Ajouter</span>
                      </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  