<div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <h1 class="text-white">Bienvenue sur SmartAssign!</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <h1></h1>
                    </div>
                    <form [formGroup]="form">
                        <div class="form-group mb-4">
                            <label for="email">E-mail:</label>
                            <br />
                            <br />
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-inbox"></i></span>
                                <input type="text" pInputText id="email" formControlName="email" class="form-control"
                                    placeholder="Email">
                            </div>
                            <br />
                            <br />
                            <mat-progress-bar *ngIf="spinn" mode="buffer"></mat-progress-bar>
                            <div class="alert alert-danger" *ngIf="form.get('email')!.errors?.['required']">Champ
                                obligatoire</div>
                              
                            <div class="alert alert-danger" *ngIf="form.get('email')!.errors?.['email']">E-mail sous la
                                forme "exemple@exemple.com"</div>

                        </div>
                    </form>

                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <button type="button" class="btn btn-primary btn-lg" (click)="send()"
                            [disabled]="form.invalid">Confirmer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>