<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Page d'ajout d'un utilisateur</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
          </div>
          <form role="form" [formGroup]="userform">
            <div class="form-group">
              <div class="alert alert-warning" *ngIf="userform.get('username')?.hasError('usernameTaken')">Identifiant existe </div>
              <div class="input-group input-group-alternative mb-3" [ngClass]="{ 'invalid-input': userform.get('username').invalid && userform.get('username').touched }">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                </div> 
                <input class="form-control" placeholder="Identifiant *" type="text" formControlName="username" >
              </div>
              <div class="input-group input-group-alternative mb-3" [ngClass]="{ 'invalid-input': userform.get('nom').invalid && userform.get('nom').touched }">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" placeholder="Nom *" type="text" formControlName="nom">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3" [ngClass]="{ 'invalid-input': userform.get('prenom').invalid && userform.get('prenom').touched }">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" placeholder="Prénom *" type="text" formControlName="prenom">
              </div>
            </div>
            <div class="form-group">
              <div class="alert alert-warning" *ngIf="userform.get('email')?.hasError('email')">email sous la forme "exemple@exemple.xxx"</div>
              <div class="alert alert-warning" *ngIf="userform.get('email')?.hasError('emailTaken')">email existe</div>
              <div class="input-group input-group-alternative mb-3" [ngClass]="{ 'invalid-input': userform.get('email').invalid && userform.get('email').touched }">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" placeholder="E-mail *" type="email" formControlName="email">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative" [ngClass]="{ 'invalid-input': userform.get('password').invalid && userform.get('password').touched }">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="Mot de passe *" type="password" formControlName="password">
              </div>
            </div>
              <div class="form-group">
                <div class="alert alert-warning" *ngIf="userform.get('confirmPassword')?.hasError('confirmedValidator')">Les mots de passe ne correspondent pas</div>
                <div class="input-group input-group-alternative"  [ngClass]="{ 'invalid-input': userform.get('confirmPassword').invalid && userform.get('confirmPassword').touched }" >
                  <div class="input-group-prepend" >
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" placeholder="Confirmer mot de passe *" type="password" formControlName="confirmPassword">
                </div>
              </div>
              <div style="color: red;">(*) Champ obligatoire</div>
            <div class="text-center">
              <button type="button" class="btn btn-primary mt-4"(click)="ajouter()" [disabled]="userform.invalid" >Create account</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
