<div *ngIf="isReady">
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
        style="min-height: 200px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
        <!-- Mask -->
        <span class="mask bg-gradient-danger opacity-8"></span>
        <!-- Header container -->
    </div>
    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col-xl-8 order-xl-1">
                <div class="card bg-secondary shadow">
                    <div class="card-header bg-white border-0">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0">Formulaire d'ajout</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="projetform">
                            <h6 class="heading-small text-muted mb-4">information</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <div class="alert alert-warning"
                                                *ngIf="projetform.get('nom_projet')?.hasError('required')">
                                                nom du projet est obligatoire </div>
                                            <label class="form-control-label" for="input-username">Nom du projet
                                                *</label>
                                            <input type="text" class="form-control form-control-alternative"
                                                formControlName="nom_projet">
                                        </div>
                                        <div class="form-group">
                                            <div class="alert alert-warning"
                                                *ngIf="projetform.get('date_limite')?.hasError('required')">
                                                Date est obligatoire </div>
                                            <div class="input-group input-group-alternative">

                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i
                                                            class="ni ni-calendar-grid-58"></i> Date limite</span>
                                                </div>
                                                <input class="form-control datepicker" placeholder="Select date"
                                                    formControlName="date_limite" type="Date" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h3 style="color: red;" class="mb-0">(*) Champ obligatoire</h3>
                                    </div>
                                    <div class="col-4 text-right">
                                        <button class="btn btn-icon btn-3 btn-primary" type="button"
                                            (click)="modifier()" [disabled]="projetform.invalid">
                                            <span class="btn-inner--icon"><i class="ni ni-check-bold"></i></span>
                                            <span class="btn-inner--text">modifier</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <button class="btn btn-icon btn-3 btn-primary" type="button" (click)="show()">
                    <span class="btn-inner--icon"><i class="ni ni-check-bold"></i></span>
                    <span class="btn-inner--text">Hide/show Formulaire tche </span>
                </button>
                <div *ngIf="showform"  class="card bg-secondary shadow">
                    <div class="card-header bg-white border-0">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0">Formulaire d'ajout tache</h3>
                            </div>
                        </div>
                    </div>
                    <div  class="card-body">
                        <form [formGroup]="tacheform">
                            <h6 class="heading-small text-muted mb-4">information</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <div class="alert alert-warning"
                                                *ngIf="tacheform.get('description')?.hasError('required')">
                                                description est obligatoire </div>
                                            <label class="form-control-label" for="input-username">Description
                                                *</label>
                                            <input type="text" class="form-control form-control-alternative"
                                                formControlName="description">
                                        </div>
                                        <div class="form-group">
                                            <div class="alert alert-warning"
                                                *ngIf="tacheform.get('date_debut')?.hasError('required')">
                                                Date est obligatoire </div>
                                                <label class="form-control-label" for="input-username">Date debut
                                                    *</label>
                                            <div class="input-group input-group-alternative">

                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i
                                                            class="ni ni-calendar-grid-58"></i></span>
                                                </div>
                                                <input class="form-control datepicker" placeholder="Select date"
                                                    formControlName="date_debut" type="Date" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="alert alert-warning"
                                                *ngIf="tacheform.get('date_fin')?.hasError('required')">
                                                Date est obligatoire </div>
                                                <label class="form-control-label" for="input-username">Date fin
                                                    *</label>
                                            <div class="input-group input-group-alternative">

                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i
                                                            class="ni ni-calendar-grid-58"></i></span>
                                                </div>
                                                <input class="form-control datepicker" placeholder="Select date"
                                                    formControlName="date_fin" type="Date" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <hr class="my-4" />
                        <div>
                          <form [formGroup]="compform">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <mat-form-field>
                                    <mat-label>Technologies</mat-label>
                                    <mat-select formControlName="selectedCompetenceId">
                                      <mat-option *ngFor="let competence of competencelist" [value]="competence.id"
                                        >{{ competence.technologies}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                              </div>
                            </div>
                          </form>                          
                          <!-- Button to add another form -->
                          <button mat-button (click)="addNewForm()">ajouter d'autre competence</button>
                          
                          <!-- Display multiple forms dynamically -->
                          <div *ngFor="let formGroup of competencelistef; let i = index" [formGroup]="formGroup">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <mat-form-field>
                                    <mat-label>Technologies</mat-label>
                                    <mat-select formControlName="selectedCompetenceId">
                                      <mat-option *ngFor="let competence of competencelist" [value]="competence.id">
                                        {{ competence.technologies }}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                              </div>
                            </div>
                          </div>     
                        
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 style="color: red;" class="mb-0">(*) Champ obligatoire</h3>
                            </div>
                            <div class="col-4 text-right">
                                <button class="btn btn-icon btn-3 btn-primary" type="button"
                                    (click)="ajoutTache()" [disabled]="projetform.invalid">
                                    <span class="btn-inner--icon"><i class="ni ni-check-bold"></i></span>
                                    <span class="btn-inner--text">ajout tache</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>