<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
    </div>
  </div>
</div>
<div *ngIf="isReady">
  <div class="card-container" *ngFor="let task of tasks;let idx = index">
    <div class="card">
      <h2></h2>
      <p class="description">{{taches[idx]?.description}}</p>
      <span>
        <i class="ni ni-calendar-grid-58 text-pink"></i>
        <p>Date debut</p>
      </span>
      <p class="description">{{formatDate(taches[idx]?.date_debut)}}</p>
       <span>
        <i class="ni ni-calendar-grid-58 text-pink"></i>
        <p>Date fin</p>
      </span>
      <p class="description">{{formatDate(taches[idx]?.date_fin)}}</p>
      <p class="description">{{projet[idx]?.nom_projet}}</p>
      <span>
        <i class="ni ni-circle-08 text-pink"></i>
        <p>Chef du projet</p>
      </span>
      <p class="description">{{projet[idx]?.chefDeProjet?.nom}} {{projet[idx]?.chefDeProjet?.prenom}}</p>
      <p>{{task.status}}</p>
    </div>
  </div>
</div>