<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    style="min-height: 200px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
    <!-- Header container -->
</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-8 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Formulaire d'ajout</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="projetform">
                        <h6 class="heading-small text-muted mb-4">information</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <div class="alert alert-warning"
                                            *ngIf="projetform.get('nom_projet')?.hasError('required')">
                                            nom du projet est obligatoire </div>
                                        <label class="form-control-label" for="input-username">Nom du projet *</label>
                                        <input type="text" class="form-control form-control-alternative"
                                            formControlName="nom_projet">
                                    </div>
                                    <div class="form-group">
                                        <div class="alert alert-warning"
                                        *ngIf="projetform.get('date_limite')?.hasError('required')">
                                        Date est obligatoire </div>
                                        <div class="input-group input-group-alternative">

                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i
                                                        class="ni ni-calendar-grid-58"></i></span>
                                            </div>
                                            <input class="form-control datepicker" placeholder="Select date" formControlName="date_limite" type="Date" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 style="color: red;" class="mb-0">(*) Champ obligatoire</h3>
                                </div>
                                <div class="col-4 text-right">
                                    <button class="btn btn-icon btn-3 btn-primary" type="button" (click)="ajouter()"
                                        [disabled]="projetform.invalid">
                                        <span class="btn-inner--icon"><i class="ni ni-check-bold"></i></span>
                                        <span class="btn-inner--text">Ajouter</span>
                                    </button>
                                </div>
                            </div>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>