<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow" style="min-height: calc(100vh - 170px);">
                <br />
                <div style="padding-left: 10px;">
                    {{displayMonth}}
                </div>
                
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <a  style="padding-left: 8px;"  type="button" (click)="setCurrentMonth()">Today</a>
                    <div>
                        <input type="button" class="btn btn-outline-danger" (click)="decreaseMonth()" value="-" />
                        <input type="button" class="btn btn-outline-success" (click)="increaseMonth()" value="+" />
                    </div>
                </div>
                <br />
               
                <table class='calendar-table' *ngIf="calendar">
                    <thead>
                        <tr>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                            <th>Sunday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of calendar | chunk: 7; let i = index">
                            <td class="calendar-day" [ngClass]="{'past-date': c.isPastDate, 'today': c.isToday}"
                            *ngFor="let c of row; let j = index">
                            <div class="calendar-day-header" [ngClass]="{'blue-date': c.isToday}">
                                <strong>{{c.date.getDate()}}</strong>
                                <div *ngFor="let project of c.projects">
                                    <div [style.backgroundColor]="project.color" class="project-color"></div>
                                    {{ project.nom_projet }}
                                </div>
                            </div>
                        </td>
                        
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
